*{
    margin: auto;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header {
    text-align: center;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 50px;
    background: rgb(231, 214, 139);
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 8px;
    background: rgb(129, 0, 0);
    margin: 3px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 5px 3px rgba(85, 85, 85, 0.3);
    box-sizing: border-box;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    color: rgb(129, 0, 0);
    background: white;
}

.mobile-nav a {
    text-decoration: none;
    text-align:center;
    color: white;
    padding: 8px;
    background: rgb(129, 0, 0);
    margin: 14px 3px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 5px 3px rgba(85, 85, 85, 0.3);
    box-sizing: border-box;
	position: relative;
	top: 0;
    display: none;
}

.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: rgb(231, 214, 139);
    width: 15%;
    height: 100vh;
    display: none;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 20%;
    padding: 0;
    text-align: left;
}



.cartas{
    background-color: rgb(216, 148, 85);
}

.contenedor-cartas{
    padding: 1rem;
    max-width: 51rem;
    margin: auto;
    text-align: left;
}

.cartas-item{
    background-color: rgb(231, 214, 139);
    display: inline-block;
    width: 90%;
    height: 10rem;
    padding: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 1rem;
}

.titulo {
    color: rgb(129, 0, 0);
    font-weight: bold;
}

.fecha {
    color: rgb(129, 0, 0);
    font-weight: lighter;
    font-style: italic;
}

.boton {
    background: rgb(129, 0, 0);
    color: white;
    border: rgb(129, 0, 0);
    padding: 0.4rem;
    cursor: pointer;
    float: right;
}

.boton:hover,
.boton:active {
    background: white;
    color: rgb(129, 0, 0);
}


.solo-xbs{
    display: none;
}

@media screen and (min-width : 49rem) {
    .cartas-item{
        width: 45%;
        height: 15rem;
    }
    .solo-xbs{
        display: inline-block;
    }
}

@media screen and (min-width : 80rem) {
    .menu {
        display: none;
    }
    .contenedor-cartas{
        max-width: 120rem;
        margin-left: 20%;
    }
    .cartas-item{
        width: 28%;
        height: 17rem;
        padding: 20px;
    }
    .solo-xbs{
        display: inline-block;
    }

    .mobile-nav {
        display: inline-block;
    }
    .mobile-nav a{
        display: inline-block;
    }
}
